<div class="container-fluid title">
	<h1>What is Voracious Vinyls?</h1>
	<p>Voracious Vinyls is an Icelandic record shop home-based out of Reykjavik.<br> We pride ourselves in our comprehensive collection of eclectic records.<br> If you can't find it anywhere else, you can probably find it here.</p>
</div>
