<div class="container-fluid title">
	<h1>Velkomin to Voracious Vinyls</h1>
	<p class="welcome">Iceland's planetary record shop</p>
</div><!--end title-->

<div class="container-fluid metric">
<%= image_tag("metric.jpg", class: "image-responsive") %>
</div><!--end image-->