<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		<div class="row title">
			<h1 class="burning">Velkomin to Voracious Vinyls</h1>
				<p class="welcome">Iceland's planetary record shop</p>
		</div>
	</div>
	<div class="col-xs-12 col-md-12">
		<div class="row metric">
			<%= image_tag("metric.jpg", class: "img-responsive") %>
		</div>
	</div>
</div><!--end image-->