// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 5%;
	padding-bottom: 3%;
}

h1 {
	padding-bottom: 3%;
}

#vinyls {
	padding-left: 2%;
	float: left;
}

.title {
	padding-top: 40px;
	padding-bottom: 40px;
}

.product {
	padding: 15px;
}

.product:hover {
	background-color: #f5f5f5;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.footer {
	font-family: Verdana, Geneva, sans-serif;
	position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.field,
.actions,
.product-paths {
	width: 20%;
	height: auto;
	margin: auto;
}

.product-form {
	margin: auto;
	width: 100%;
	height: auto;
	padding-top: 20px;
}

.product_show {
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding-top: 3%;
}

.product_comment {
	margin: 0 auto;
}

.rated {
	text-align: center;
}

#price {
	border-bottom: 2px solid #ecbd27;
}

.product-show {
	padding-top: 3%;
}
