// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
	height: 100%;
}

body {
	padding-top: 4%;
	padding-bottom: 3%;
}

h1 {
	padding-bottom: 3%;
}

.navbar {
	background: white;
	border-bottom: 5px solid #ecbd27;
}

.projectName a,
.navbar-inverse .navbar-nav>li>a {
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	padding: 20px 15px;
}

.projectName a:hover,
.navbar-inverse .navbar-nav>li>a:hover {
	color: white;
	text-decoration: none;
	background-color: #ecbd27;
}

.projectName {
padding-top: 20px;
}

.footer {
	font-family: Verdana, Geneva, sans-serif;
	position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #efefef;
  text-align: center;
}

h1,
h2,
p {
	text-align: center;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
}

.title {
	padding-top: 25px;
}

.metric {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#bg {
	background-image: image_url("redvinyl.jpg");
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	min-height: 100%;
	min-width: 100%;
}

.carousel-img {
	width: 600px;
	height: auto;
	margin: auto;
}

.carousel-caption {
	color: ghostwhite;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: Futura, Helvetica, sans-serif;
	font-size: 4.2em;
	margin: auto;
	padding-bottom: 20%;
}

.form-row {
	margin: auto;
	width: 40%;
	height: auto;
	padding-top: 20px;
}

.form-entry {
	width: 100%;
	height: auto;
	margin: auto;
}

.auth-links {
	margin: auto;
	height: auto;
	width: 20%;
}

.padding {
	padding-top: 25px;
}

.burning {
	color: black;
	letter-spacing: .25em;
	font-weight: bold;
}